#idea
.idea
.idea/*

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser

#ignored
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

writable/*
!.keep

#codeigniter
application/logs/*
*/sql
!application/logs/index.html
!application/logs/.htaccess
/vendor/
/storage/*
/import/*
*.lock   
  
#default_storage
storage/0/cache/*
storage/0/api/*
storage/0/backup/*
storage/0/captcha/*
storage/0/export/*
storage/0/static/*
storage/0/watermark/font/*
storage/0/watermark/img/*
storage/0/youtube/*
storage/0/video/*
.DS_Store

#assets
themes/frontend/compiled/*
